extends layout

block content
  #main-content
  .left-float.left480
    p
      img(src='img/about/fireplace1d.jpg', alt='Pipe Lamp', title='Pipe Lamp')
    p
      img(src='img/about/landing1.jpg', alt='Pipe Lamp', title='Pipe Lamp')
    p
      img(src='img/about/lightfloor1.jpg', alt='Pipe Lamp', title='Pipe Lamp')
    p
      img(src='img/about/darkfloor1.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .right-float.right480
    p
      | If you are looking for a beautiful, smooth, luxurious wooden floor then I can certainly help you!
      br
      br
      | I'm Paul Thompson and I've worked in the flooring industry for the past 20 years. I opened my own business - The Polished Wood floor Company - way back in the summer of  2001. Over the years I've rebuilt, repaired and restored thousands of wooden floors across the city and around. 
      br
      br
      | Renovating wooden floors is a rewarding job because every working day is all about taking the old and the tired and turning it into something really beautiful. Many of my clients have little idea how much can be achieved. I just love their delight as the transformation takes place from grey and grimy to radiant and intricate. Something lovely that every one will notice.
      br
      br
      | Beyond my dedication to craftsmanship, I pride myself on delivering the best customer experience I possibly can. I'm friendly and polite, always on time, always start a job on the date that I've agreed and will treat your home with my absolute care and respect. My goal is to create a dazzling transformation within your home with the least possible disruption or inconvenience to yourself or your family.
      br
      br
      | I've been on the Checkatrade review site for nearly ten years and I've got over 150 fantastic reviews. If you'd like to know what my customers think, please follow the link.
      br
      br
      | In recent years I've taken the skills I have in staining and distressing wood and I'm now offering 
      link(href='quote.html')
      | bespoke, handcrafted shelving and furniture
      link
      | . 
      br
      br
      | For a completely free and absolutely no obligation quotation please call, email or text at any time.