extends layout

block content
  #main-content
  #contact-content
    .left-float.left480
      p
        img(src='img/contact/Contact_1.jpg')
    .grad1
    br
    .right-float.right480
      .contact-float-right
        h1#pwfc The Polished Wood Floor Company
        #space1
        h4#address1 6 Arundel Rd, Kemptown,
        h4#address2 Brighton. BN25TD
        h4#landline Tel. 01273 382343
        h4#mobile Mobile 07811 671354
        p#p1 Please email me at:
        p#p2.link
          a(href='mailto:thepolishedwoodfloorcompany@hotmail.co.uk?Subject=Hello%20again', target='_top') thepolishedwoodfloorcompany@hotmail.co.uk
      // end contact-float-right
      // end float right
      .clear
      .grad1
      .left-float.left480
        p
          a.link(href='http://www.checkatrade.com/thepolishedwoodfloorcompany')
            img.s-img(src='assets/checkatrade.gif', width='40%"', alt='checkatrade', longdesc='http://www.checkatrade.com/thepolishedwoodfloorcompany')
        p
      .right-float.right480
        div
          p.img480
            img(src='img/contact/Contact_1.jpg')
          p.to-view.link(style='margin-top:25px; margin-bottom:0px')
            | View my checkatrade.com profile and feedback 
            a(href='http://www.checkatrade.com/thepolishedwoodfloorcompany') here.
          p
            | I've been on the Checkatrade review site for nearly ten years and I've got over 150 fantastic reviews. If you'd like to know what my customers think, please follow the link.
          p
            a.link.img480(href='http://www.checkatrade.com/thepolishedwoodfloorcompany')
              img.s-img(src='assets/checkatrade.gif', width='40%"', alt='checkatrade', longdesc='http://www.checkatrade.com/thepolishedwoodfloorcompany')
          p
          p.to-view.link(style='margin:4px 10px 10px 10px')
            a(href='http://www.checkatrade.com/thepolishedwoodfloorcompany') www.checkatrade.com/thepolishedwoodfloorcompany
      .clear
      .contact-para
        p
          | Please get in touch if you'ld like a quote. 
          br
          br
          | I'm making a lot of noise a good bit of the time so I can miss the phone ringing. Texts or emails are often easier. 
          br
          br
          | If you could tell me briefly what the job is that would be a great. A couple of photos are also really, really helpful and your postcode too please, so I can work out the parking.
      .clear
      .grad1
      br
      .map
        p
          img(src='assets/mapbrighton.jpg')