extends layout

block content
  #main-content
  .services
    a(href='sandingtraditionalboards.html')
      p Sanding traditional boards
      img.servicesimg(src='img/services/traditional.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='resurfacinghardwoodflooring.html')
      p Resurfacing Hardwood Floors
      img.servicesimg(src='img/services/hardwood.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='restoringparquet.html')
      p Restoring parquet
      img.servicesimg(src='img/services/parquet.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='repairsandrenovations.html')
      p Repairs & renovations
      img.servicesimg(src='img/services/repairs.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='gapfilling.html')
      p Gap-filling
      img.servicesimg(src='img/services/gaps.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='hearthremoval.html')
      p Hearth removal
      img.servicesimg(src='img/services/hearth.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='staining.html')
      p Staining
      img.servicesimg(src='img/services/stain.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='varnishandoil.html')
      p Varnish & Oil
      img.servicesimg(src='img/services/varnishoil.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='stairs.html')
      p Stairs
      img.servicesimg(src='img/services/stairs.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='draughtproofing.html')
      p Draught-proofing
      img.servicesimg(src='img/services/draught.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='gapbelowskirtingboard.html')
      p Gap below skirting board
      img.servicesimg(src='img/services/skirting.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .services
    a(href='refurbishwithfreshvarnish.html')
      p Refurbish with fresh varnish
      img.servicesimg(src='img/services/refurbish.jpg', alt='Pipe Lamp', title='Pipe Lamp')
