extends layout

block content
  #main-content
  .left-float.left480
    .left-images
      p
        img(src='img/testimonials/t1.jpg', alt='Pipe Lamp', title='Pipe Lamp')
      p
        img(src='img/testimonials/t2.jpg', alt='Pipe Lamp', title='Pipe Lamp')
      p
        img(src='img/testimonials/t3.jpg', alt='Pipe Lamp', title='Pipe Lamp')
      p
        img(src='img/testimonials/t4.jpg', alt='Pipe Lamp', title='Pipe Lamp')
      p
        img(src='img/testimonials/t5.jpg', alt='Pipe Lamp', title='Pipe Lamp')
  .right-float.right480
    p
      | Here are a selection of the comments made about the work I have done. These comments are from feedback on the Checkatrade website which closely monitors my work. My clients are able to rate me out of ten on tidiness, reliability and time keeping, courtesy and workmanship. To see my full Checkatrade history, please click 
      a(href='http://www.checkatrade.com/ThePolishedWoodFloorCompany/')
        | here.
      | Thanks to everyone who has responded to Checkatrade, your comments are all very appreciated.
    // end heading paragraph "Here is a selection of comments...."
    br
    p(style='font-weight:600') Scored: Tidiness, Reliability and Time Keeping, Courtesy and Workmanship
    br
    // end Tidiness, Reliability and Time Keeping, Courtesy and WorkmanshipT HEADER
    .testimonial-monitoring-reports
      span(style='color:#CC1E03') Checka
      span(style='color:#0837CD') trade.com
      |  customer feedback
    //
      end TESTIMONIAL MONITORING REPORT HEADER
      <span style="color:blue">blue</span>
    .testimonial-table
      table(border='0', cellspacing='0', cellpadding='0', width='580', align='left')
        tbody
          tr
            td(width='420', align='left')
              h3 Floor sanding.
            td(width='160', align='right')
              table(border='0', cellspacing='2', cellpadding='0', width='160')
                tbody
                  tr
                    td Scores:
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score1
                      p 10
      .clear
      p.testimonial-text
        | Great job done in the time said for the price quoted. Would recommend highly. Honest and trustworthy.
      p.testimonial-location Customer in Hove, 25 March 2011
    p
      img.img480(src='img/testimonials/t1.jpg', alt='Pipe Lamp', title='Pipe Lamp')
    br
    .testimonial-table
      table(border='0', cellspacing='0', cellpadding='0', width='580', align='left')
        tbody
          tr
            td(width='420', align='left')
              h3 Sand and oil kitchen floor.
            td(width='160', align='right')
              table(border='0', cellspacing='2', cellpadding='0', width='160')
                tbody
                  tr
                    td Scores:
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score1
                      p 10
      p.testimonial-text
        | Paul was a real professional and willing to work late to make sure the oil would be dry in time for a dinner party. The floor is beautiful and there was no mess at all, we will use them again..
      p.testimonial-location Customer in Hove, 24 March 2011
    p
      img.img480(src='img/testimonials/t2.jpg', alt='Pipe Lamp', title='Pipe Lamp')
    .testimonial-table
      br
      table(border='0', cellspacing='0', cellpadding='0', width='580', align='left')
        tbody
          tr
            td(width='420', align='left')
              h3 Sanding and oiling dining room floor
            td(width='160', align='right')
              table(border='0', cellspacing='2', cellpadding='0', width='160')
                tbody
                  tr
                    td Scores:
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score1
                      p 10
      .clear
      p.testimonial-text
        | My daughter had used Paul last year and I was impressed with Paul himself and his method of working and especially the finished work. He takes pride in his work and does not cut corners, he is fair on price and I consider it good value for money. My worst fear was the resulting mess, however I need not have worried as there was hardly any dust on surfaces and I needn’t have covered up as much as I did. A VERY pleased customer.
      p.testimonial-location Customer in Lancing, 12 March 2011
    br
    .testimonial-table
      table(border='0', cellspacing='0', cellpadding='0', width='580', align='left')
        tbody
          tr
            td(width='420', align='left')
              h3 Relaid and filled gaps, sanded and varnished our wooden floor.
            td(width='160', align='right')
              table(border='0', cellspacing='2', cellpadding='0', width='160')
                tbody
                  tr
                    td Scores:
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score1
                      p 10
      p.testimonial-text
        | Paul is a true craftsman. He carried out a fantastic job on the dull and squeaky wooden floor in our lounge / diner. We can't quite believe the transformation. He probably had to do more work than he expected to because the joists were in poor condition and the existing nails were too small but he didn't complain or try to charge any extra. Excellent work – would definitely recommend!!
      p.testimonial-location Customer in Brighton, 10 March 2011
    br
    .testimonial-table
      table(border='0', cellspacing='0', cellpadding='0', width='580', align='left')
        tbody
          tr
            td(width='420', align='left')
              h3 Repaired, sanded and varnished Lounge and Hallway Parquet floors.
            td(width='160', align='right')
              table(border='0', cellspacing='2', cellpadding='0', width='160')
                tbody
                  tr
                    td Scores:
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score1
                      p 10
      p.testimonial-text
        | Paul is a very conscientious worker taking great pride in his work. We were astounded by the brilliant result he had achieved. A very professional tradesman and extremely neat and tidy. Highly recommended.
      p.testimonial-location Customer in Newhaven, 26 January 2011
    br
    .testimonial-table
      table(border='0', cellspacing='0', cellpadding='0', width='580', align='left')
        tbody
          tr
            td(width='420', align='left')
              h3 Sanding, staining and varnishing floors, fill gaps with rubber seal
            td(width='160', align='right')
              table(border='0', cellspacing='2', cellpadding='0', width='160')
                tbody
                  tr
                    td Scores:
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score1
                      p 10
      p.testimonial-text
        | Excellent service and a fantastic job! The floor is perfect throughout as we were consulted at all stages..
      p.testimonial-location Customer in Brighton, 22 January 2011
    br
    .testimonial-table(style='border-bottom:0px')
      table(border='0', cellspacing='0', cellpadding='0', width='580', align='left')
        tbody
          tr
            td(width='420', align='left')
              h3 Sanded our dining room floor.
            td(width='160', align='right')
              table(border='0', cellspacing='2', cellpadding='0', width='160')
                tbody
                  tr
                    td Scores:
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score2
                      p 10
                    td.score1
                      p 10
      p.testimonial-text
        | Paul was efficient, swift and did a very good job on our old floor boards, looks great now.Customer in Hove, 17 January 2011Sanding, gap filling and varnishing floors. Fitting boarding around skirting
      p.testimonial-location(style='padding-bottom:0px') Customer in Brighton, 22 January 2011
    br
  // end float-rightt
  .clear
// end main-content
